
<h1>
  Clientes cadastrados
</h1>

<table class="table" >
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Crédito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.id %></td>
        <td><%= admin_user.name %></td>
        <td><%= admin_user.email %></td>
        <td><%= admin_user.phone %></td>
        <td class="text-right" ><%= number_to_currency(admin_user.credit) %></td>

        <td class="text-center" >
            <%= link_to ( admin_user_path(admin_user) ) do %>
              <label class="btn btn-primary" >
                <i class="fas fa-eye" ></i>
              </label>
            <% end %>
            <%= link_to ( edit_admin_user_path(admin_user) ) do %>
              <label class="btn btn-primary" >
                <i class="fas fa-edit" ></i>
              </label>
            <% end %>
            <%= link_to ( "/admin/destroy/" + admin_user.id.to_s ) do %>
              <label class="btn btn-danger" onclick="return confirm('Tem certeza?');" >
                <i class="fas fa-trash-alt" ></i>
              </label>
            <% end %> 
        </td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/users/admin/new" class="btn-lg btn btn-success float--button--right" >
  +
</a>