
$enable-flex:               true;
$enable-grid-classes:       true;

@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';
@import '~bootstrap/scss/_reboot.scss';   
@import '~bootstrap/scss/_grid.scss';
@import '~admin-lte/build/scss/AdminLTE.scss';  

$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
// @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free';  


@import 'admin_login.scss';

//
.float--button--right{
	position: fixed;
	bottom: 50px;
	right: 50px;
}