<%= form_for([ :admin,  admin_region], html: 
		{ class: "form-horizontal", role: "form" }) do |form| %>

	<% if admin_region.errors.any? %>  
		<div id="error_explanation">
			<h2>
				<%= pluralize(admin_region.errors.count, "erro") %> 
				ao salvar  	
			</h2>
			<ul>
				<% admin_region.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>  
		</div>
	<% end %>

	<div class="field">
		<%= form.label :name %>
		<%= form.text_field :name, class: "form-control", :required => true %>
	</div>

	<div class="field">  
		<%= form.label :user_id %>
		<%= form.text_field :name, class: "form-control", :required => true %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>

<% end %>