<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_region.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_region.user_id %>
</p>

<%= link_to 'Edit', edit_admin_region_path(@admin_region) %> |
<%= link_to 'Back', admin_regions_path %>
