<div class="login--container" >
	<div class="sidenav">
		<div class="login-main-text">
			<div class="col-sm-4 offset-sm-4">
				<h2>Login</h2>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="col-sm-4 offset-sm-4">
			<div class="login-form">
				<form method="POST" action="/admin/users/login" >  
					<div class="form-group">
						<label></label>
						<input
						required
						name="email"
						type="email"
						class="form-control"
						placeholder="Email">
					</div>
					<div class="form-group">
						<input
						name="password"
						type="password"
						required
						class="form-control"
						placeholder="Senha">
					</div>
					<button type="submit" class="btn btn-default">
						Entrar
					</button>
				</form>
			</div>
		</div>
	</div>
</div>