<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @admin_user.level %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin_user.password %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @admin_user.credit %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @admin_user.credit %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admin_user.phone %>
</p>

<%= link_to 'Edit', edit_admin_user_path(@admin_user) %> |
<%= link_to 'Back', admin_users_path %>
